*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    /* background-color: #add8e6; */
    min-height: 500px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.flexContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logoHeader{
    flex-grow: 1;
    padding: 1em 0 1em 5px;
    
}

#linkHeader{
    text-align: center;
    flex-grow: 3;
    justify-content: space-around;
    align-items: center;
}

#loginHeader{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
    align-items: center;
}

.button{
    border-radius: 25px;
    border: none;
    padding: 15px 20px;
}

.button:hover{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

header section{
    min-height: 400px;
}

.violetBox{
    min-height: 400px;
    max-width: 900px;
    margin: 2em auto;
    text-align: center;
    color: white;
}

.violetBox h1{ 
    font-size: 3em;
    margin: 35px auto;
}

.violetBox p{
    padding: 0 9em;
}

#headerButton{
    margin-top: 1.5em;
}

#downArrow{
    font-weight: bolder;
}

#discordOnBrowserButton{
    margin-left: 20px;
    background-color: #23272a;
    color: white;
}

main > div{
    height: 600px;
    padding: 50px 0;
}

.pinkBlueBox{
    min-height: 500px;
}

.blueColumn{
    flex-grow: 6;
}

.pinkColumn{
    flex-grow: 4;
    padding: 2.5em 7em;
}

h2{
    font-size: 2.5em;
}

h2 + p{
    margin-top: 2em;
}

.wave{
    display: block;
    width: 100%;
    opacity: 0.18;
}

#capovolta{
    transform: rotate(180deg);
}

.bgGrey{
    background-color: #d3d3d3;
}

main > div:last-child{
    min-height: 1000px;
}

.greenBox{
    min-height: 900px;
    text-align: center;
    padding: 2.5em 11em;
}

#newAdventure{
    background-image: url(../img/stars.svg);
    background-size: contain;
    margin: 0 10em;
    height: 2em;
    justify-content: center;
    align-items: center;
}

h3{
    font-size: 1.5rem;
}

.greenBox button{
    margin-top: 1.5em;
    background-color: #8ea1e1;
    color: white;
}

footer{
    min-height: 750px;
    background-color: #23272a;
    padding-top: 5em;
}

.textColorBlue{
    color: #7289da;
}

.salmonAquamarineBox{
    min-height: 400px;
    color: white;
}

.salmonColumn{
    flex-grow: 3;
}

.salmonColumn h3{
    margin-bottom: 1em;
}

#flagItaly{
    width: 30px;
    height: 20px;
}

.aquamarineColumn{
    flex-grow: 7;
}

.insideAquamarineColumn{
    flex-grow: 1;
    text-align: left;
}

.insideAquamarineColumn li{
    list-style: none;
    margin-bottom: 1em;
}

#footerTop{
    margin-bottom: 2em;
}

#language{
    display: block;
    margin-bottom: 1em;
}

#languageSelector{
    background-color: #23272a;
    color: white;
    border: none;
}

.fa-brands{
    margin-right: 1em;
}

#footerBottom{
    margin-top: 2em;
    align-items: center;
    min-height: 80px;
}

#buttonFooter{
    background-color: #8ea1e1;
    border: none;
    color: white;
}

.marginzeroauto{
    margin: 0 auto;
}

.mw1200{
    max-width: 1200px;
}

